// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';




// # Site Header
// - Site Header Logo
#site-header header #site-logo {
    max-height: 50px;
}

// - Site Header Nav Links
#site-header header .nav-link {
    position: relative;

    color: #333;

    font-family: sans-serif;
    font-weight: 600;
    // font-size: .8rem;
    font-size: .75rem;
    letter-spacing: 0;

    text-transform: uppercase;
}
#site-header header .nav-link.active {
    color: #0282F9;

    box-shadow: inset 0 -5px 0 0 #0282F9;
}









// # Jumbotron
#jumbotron {
    height: 33vh;
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    background-position: center top;
}











// # List Sections
.list-section {
    position: relative;
}
.list-section-title {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    font-size: 1rem;
    font-weight: 700;
}
.list-section .card-img-top {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center top;
}
.list-section .card-title {
    text-transform: uppercase;
    font-size: .8rem;
}
.btn-load-more {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
}




// # Merchandise
#merchandise .card {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;

    background-color: transparent;
    color: white;
}
#merchandise .card .card-body {
    flex-grow: 0;
    overflow: hidden;
}
#merchandise .card img {
    max-width: 30px;
    max-height: 30px;
}
#merchandise .card p {
    font-size: .8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 576px) {
    #merchandise .card {
        flex-basis: 30%;
    }
}
@media screen and (min-width: 768px) {
    #merchandise .card {
        flex-basis: 0%;
    }
}





































// # Site Footer (ATTENZIONE, RIPRESO DA REACT MA MIHLIORABILE)
#page-footer #footer-social > .container > .row > .col,
#page-footer #footer-social > .container > .row > .col > .social-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page-footer #footer-social > .container > .row > .col:first-child {
    flex-grow: 1;
}
#page-footer #footer-social > .container > .row > .col > .social-container {
    gap: 1rem;
}

#footer-content {
    background-image: url('../img/footer-bg.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    /* * Per effetto grafico del logo */
    padding: 0;
}
#footer-content h5 {
    color: #fff;
}
#footer-content nav {
    color: #aaa;
}
#footer-content nav li {
    line-height: 1;
    margin-bottom: .25rem;
}
#footer-content nav li.active,
#footer-content nav li:hover {
    color: #ccc;
}
#footer-content nav li.active {
    font-weight: bold;
}
.logo-big-container {
    position: relative;
    min-height: 150px;
    background-image: url('../img/dc-logo-bg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#footer-content > .container > .row > :first-child {
    padding: calc(2 * var(--col-spacing)) 0;
}


#footer-social {
    background-color: #303030;
}
#footer-social button.signUp {
    padding: .75rem;
    border: 2px solid #0282F9;
    background-color: transparent;

    /* font-size COME PER h5 */
    /* font-size: 1.1rem; */
    font-size: 1rem;
    color: #fff;
}
#footer-social button.followUs {
    padding: .75rem;
    background-color: transparent;
    border: 0;

    /* font-size COME PER h5 */
    /* font-size: 1.1rem; */
    font-size: 1rem;
    color: #0282F9;
}
#footer-social button.signUp,
#footer-social button.followUs {
    font-weight: bold;
    font-size: .9rem;
}
#footer-social img.social-icon {
    max-height: 2rem;
}