// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';



#site-header header #site-logo {
    max-height: 50px;
}

#site-header header .nav-link {
    position: relative;

    color: #333;

    font-family: sans-serif;
    font-weight: 600;
    font-size: .75rem;
    letter-spacing: 0;

    text-transform: uppercase;
}
#site-header header .nav-link.active {
    color: #0282F9;

    box-shadow: inset 0 -5px 0 0 #0282F9;
}










#jumbotron {
    height: 33vh;
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    background-position: center top;
}